body {
	background: #FFFFF0;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden; /*scroll bar horizontal and vertical*/
}

#lord {
	color: #A3A300;
}

header {
	background: #FFFFE6;
	/* background: #2343; */
}

#color-and-font-catholic {
	color: #A3A300;
}

#eph-color {
	color: #2e5090;
}

.cross-svg {
	width: 50%;
	/* margin-top: 3em;
	margin-right: 3em; */
}

.ancient-saints {
	position: relative;
	/* top: 200px; */
}

.modern-saint-pic {
	width: 70%;
}

.ancient-saint-pic {
	width: 70%;
}

.bible-app {
	width: 100%;
	position: relative;
	/* top: 200px; */
}

.bible-app-button {
	position: relative;
	top: 20px;
}

/* .bible-image-position {
	width: 50%;
} */

#line-height-bible-app {
	margin-top: 19px;
}

#line-height-inspiration {
	margin-top: 19px;
}

.bible-image {
	position: absolute;
	right: 10%;
	width: 15%;
}

#margin-top {
	margin-top: 100px;
}

#to-the-right {
	display: flex;
}

.card {
	margin-top: 100;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 90%;
	/* margin-top: 80px; */
	display: flex;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 2px 16px;
}

#inspiration-for-you {
	margin-top: auto;
	margin-bottom: auto;
}

#table-margin {
	position: relative;
	top: 135px;
}

#center-text {
	text-align: center;
}

.center {
	margin: auto;
	width: 60%;
	padding: 10px;
}

#jesus-in-the-cross {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-top: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#jesusmargin {
	margin-top: 140px;
}

#contactsmargin {
	margin-bottom: 180px;
}

/* body {
	font-family: Arial, Helvetica, sans-serif;
} */

* {
	box-sizing: border-box;
}

#contacts {
	margin-top: 240px;
}

label, select, option {
	margin-left: 7%; /* first name, last name, country, subject */
}

.countries, select, option {
	margin-right: 12%;
}

.write-something, textarea {
	margin-right: 12%;
}

.btn-primary {
	margin-left: 30px;
}

.center-contacts {
	display: flex;
	justify-content: center;
	align-items: center;
}

form input,
form textarea {
	display: block;
	width: 88%;
	margin-bottom: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 88%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 30px;
  resize: vertical;
}

/* Style inputs */
/* input[type=text],
select,
textarea {
	width: 80%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

textarea[type=text] {
	width: 80%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

select[type=text] {
	width: 80%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
} */

/* #country {
	width: 80%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
} */

/* input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  } */

/* Style the container/contact section */
/* .container-contacts {
	border-radius: 5px; */
	/* background-color: #f2f2f2; */
	/* padding: 10px;
} */

/* Create two columns that float next to eachother */
/* .column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
} */

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

	.column,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

.footer {
	background: #FFFFE6;
	color: black;
	text-align: center;
	padding: .5em 0;
}

.footer-space {
	position: relative;
	/* top: 350px; */
}

ul {
	list-style-type: none;
}

/* .holy {
	position: absolute;
	right: 10%;
	height: 500px;
	width: 300px;
} */

.copyright {
	font-weight: bold;
	font-size: large;
	/* position: absolute;
	bottom: 0; */
}

* {
	box-sizing: border-box;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */